.test-case-form {
  background-color: #2b2b3d;
  padding: 20px;
  border-radius: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;
}

.priority-dropdown,
.api-dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-add{
  background-color: #ff007a;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.header-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.response-section,
.api-response {
  margin-top: 20px;
  background-color: #1e1e30;
  padding: 20px;
  border-radius: 10px;
}
